<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <section class="main__hero">
                    <div class="main__hero__content  d-flex justify-content-between">
                        <div class="d-flex flex-column justify-content-around">
                            <div class="p-2">
                                <h1>Build your dream PC</h1>
                                <div class="d-flex" style="gap: 48px;">
                                    <div>
                                        <h3>50+</h2>
                                            <h4>built PCs </h2>
                                    </div>
                                    <div> <img src="/../img/Line 2.png" alt=""></div>
                                    <div>
                                        <h3>100+</h2>
                                            <h4>Customers</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="p-2">
                                <form class="card card-sm" style="border-radius: 12px;">
                                    <div class="card-body row no-gutters align-items-center">
                                        <div class="col">
                                            <input class="form-control form-control-lg form-control-borderless"
                                                type="search" placeholder="What are you looking for?">
                                        </div>
                                        <div class="col-auto">
                                            <button class="btn btn-lg btn-success d-flex align-items-center"
                                                type="submit">
                                                <img src="/../img/Search.png" alt="">
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="pc_picture">
                            <img src="/../img/pngr.png" alt="">
                        </div>
                    </div>
                </section>
                <section class="main__categories">
                    <div class="main__categories__title d-flex flex-column align-items-center">
                        <h2>Categories</h2>
                        <p>Find what you are looking for</p>
                    </div>
                    <div class="main__categories__slider">
                        <div class="wiper">
                            <button class="wiper-button wiper-button__right">
                              <img src="https://www.iconpacks.net/icons/2/free-arrow-left-icon-3099-thumb.png" alt="left" />
                            </button>
                            <div class="wiper-wrapper">
                              <ul class="wiper-track">
                                <li class="wiper-item">
                                  <img
                                    class="wiper__image"
                                    src="https://images.pexels.com/photos/19682307/pexels-photo-19682307/free-photo-of-pink-flowers-on-a-shrub.jpeg"
                                    alt="background-image"
                                  />
                                  <button class="swiper__image-button">Click me</button>
                                </li>
                                <li class="wiper-item active-swipe">
                                  <img
                                    class="wiper__image"
                                    src="https://images.pexels.com/photos/17617625/pexels-photo-17617625/free-photo-of-pink-chrysanthemum-flowers.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load"
                                    alt="background-image"
                                  />
                                  <button class="swiper__image-button">Click me</button>
                                </li>
                                <li class="wiper-item">
                                  <img
                                    class="wiper__image"
                                    src="https://images.pexels.com/photos/19598202/pexels-photo-19598202/free-photo-of-pink-hyndrangea-flowers.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load"
                                    alt="background-image"
                                  />
                                  <button class="swiper__image-button">Click me</button>
                                </li>
                                <li class="wiper-item">
                                  <img
                                    class="wiper__image"
                                    src="https://images.pexels.com/photos/17024197/pexels-photo-17024197/free-photo-of-a-pink-anemone-on-a-white-background.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load"
                                    alt="background-image"
                                  />
                                  <button class="swiper__image-button">Click me</button>
                                </li>
                                <li class="wiper-item">
                                  <img
                                    class="wiper__image"
                                    src="https://images.pexels.com/photos/19682307/pexels-photo-19682307/free-photo-of-pink-flowers-on-a-shrub.jpeg"
                                    alt="background-image"
                                  />
                                  <button class="swiper__image-button">Click me</button>
                                </li>
                                <li class="wiper-item">
                                  <img
                                    class="wiper__image"
                                    src="https://images.pexels.com/photos/17617625/pexels-photo-17617625/free-photo-of-pink-chrysanthemum-flowers.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load"
                                    alt="background-image"
                                  />
                                  <button class="swiper__image-button">Click me</button>
                                </li>
                              </ul>
                            </div>
                            <button class="wiper-button wiper-button__left">
                              <img src="https://www.iconpacks.net/icons/2/free-arrow-left-icon-3099-thumb.png" alt="right" />
                            </button>
                          </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>