$Color-1: #4B0082;
$Color-2: #1E1E1E;
$Color-3: rgba(30, 30, 30, 0.75);
$Color-4: rgba(30, 30, 30, 0.50);
$Color-5: rgba(245, 229, 8, 1);//star active
$Color-6: #337a7a;//product price
$Color-7: rgba(245, 229, 8, 0.8);