$mainColor: #C1DCDC;
$colorTwo: #1E1E1E;
$colorThree: #1E1E1EBF;
$colorFour: #1E1E1E80;

.footer {
    width: 100%;
    height: 400px;
    background-color: $mainColor;

    &__general {
        h2 {
            padding-top: 48px;
            margin-bottom: 0;
            color: $colorTwo;
            font-family: Quella;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        h3 {
            width: 189px;
            color: $colorFour;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 0;
        }

        &__social {
            gap: 24px;

            a {
                img {
                    width: 48px;
                    height: 48px;
                }

            }
        }

        &__bottom {
            p {
                color: $colorFour;
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }

    &__additional {
        gap: 48px;
        padding-top: 48px;
        &__links{
            gap: 24px;
        }
        h4 {
            color: var(--Color-2, #1E1E1E);
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        a {
            color: var(--Color-4, rgba(30, 30, 30, 0.50));
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}