.main {
  padding-bottom: 150px;

  &__hero {
    background-color: $MainColor;
    height: 512px;
    border-radius: 24px;
    padding-left: 48px;
    margin-bottom: 96px;

    &__content {
      h1 {
        width: 512px;
        color: $Color-2;
        font-family: Poppins;
        font-size: 64px;
        font-weight: 800;
        line-height: 64px;
        padding-bottom: 20px;
      }

      h3 {
        color: $Color-2;
        font-family: Poppins;
        font-size: 32px;
        font-weight: 500;
      }

      h4 {
        color: $Color-2;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
      }
    }

    .search {
      &__container {
        padding-top: 64px;
      }

      &__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: #ff8b88;
      }

      &__input {
        width: 100%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;

        color: #575756;
        background-color: transparent;

        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;

        &::placeholder {
          color: color(#575756 a(0.8));
          text-transform: uppercase;
          letter-spacing: 1.5px;
        }

        &:hover,
        &:focus {
          padding: 12px 0;
          outline: 0;
          border: 1px solid transparent;
          border-bottom: 1px solid #575756;
          border-radius: 0;
          background-position: 100% center;
        }
      }
    }

    .credits {
      &__container {
        margin-top: 24px;
      }

      &__text {
        text-align: center;
        font-size: 13px;
        line-height: 18px;
      }

      &__link {
        color: #ff8b88;
        text-decoration: none;
        transition: color 250ms ease-in;

        &:hover,
        &:focus {
          color: color(#ff8b88 blackness(+25%));
        }
      }
    }
  }

  &__chosen {
    width: 100%;
    margin-bottom: 150px;

    h1 {
      color: $Color-2;
      font-family: Poppins;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    p {
      color: $Color-4;
      font-family: Poppins;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    .product__content_info_price {
      color: $Color-6;
    }
  }

  &__content {
    display: flex;
    margin-top: 48px;
    background-color: $MainColor;
    border-radius: 24px;
    padding: 28px;

    >img {
      max-width: 358px;
      min-width: 358px;
      max-height: 358px;
      min-height: 358px;
    }

    &_info {
      margin-left: 48px;

      >h1 {
        color: $Color-2;

        margin-top: 10px;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
      }

      &_stars {
        font-size: 20px;
        color: $Color-4;
        margin-bottom: .5em;

        .active {
          color: $Color-5;
        }
      }

      &_price {
        color: $Color-6;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
      }

      &_description {
        color: $Color-3;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        margin-top: 22px;
      }
    }


  }

  &__categories {
    margin-bottom: 150px;

    &__title {
      padding-bottom: 28px;

      h2 {
        color: $Color-2;
        font-family: Poppins;
        font-size: 32px;
        font-weight: 700;
      }

      p {
        color: $Color-4;
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
      }
    }

    &__about {
      padding-top: 28px;
      margin-bottom: 100px;

      p {
        color: $Color-4;
        text-align: center;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

    }

    &__slider {
      @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

      button {
        border: none;
        cursor: pointer;
      }

      .container {
        max-width: 1200px;
        margin: auto;
        padding: 10px;
      }

      .card-slider {
        display: flex;
        white-space: nowrap;
        overflow-x: auto;
        margin-top: 10px;
        gap: 30px;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 28px;
        padding-top: 48px;
      }

      .card-slider::-webkit-scrollbar {
        width: 0;
        height: 0;
      }

      .label-container {
        display: flex;
        align-items: center;
      }

      .label-container {
        display: flex;
        align-items: center;
      }

      .label-container .bi {
        font-size: 18px;
      }

      .label-container button {
        background-color: $Color-4;
        border-radius: 20px;
        color: #111;
        cursor: pointer;
        padding: 10px;
        width: fit-content;
        margin-left: 5px;
      }

      .label-container button:disabled {
        background-color: black;
        cursor: not-allowed;
        border: none;
      }

      .restaurant-card {
        transition: transform 0.3s ease-in-out;
        font-family: "Arial", sans-serif;
        background: transparent;
      }

      .restaurant-card:hover {
        cursor: pointer;
        transform: scale(0.95);
      }

      .image-container {
        position: relative;
        display: inline-block;
      }

      .image-container img {
        width: 350px;
        height: 240px;
        display: block;
        border-radius: 20px;
        object-fit: cover;
        image-rendering: pixelated;
      }

      .image-container::after {
        content: "";
        position: absolute;
        top: 80%;
        left: 0;
        right: 0;
        border: none;
        border-radius: 0 0 20px 20px;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1)100%);
      }

      .restaurant-name {
        color: $Color-2;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

      }

      @media only screen and (min-width: 320px) and (max-width: 767px) {
        .container {
          max-width: 350px;
          margin: auto;
          padding: 10px;
        }

        .card-container {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          height: fit-content;
          gap: 10px;
          margin-top: 10px;
        }

        .image-container img {
          width: 180px;
          height: 140px;
          display: block;
          border-radius: 20px;
          object-fit: cover;
          image-rendering: pixelated;
        }

        .image-container::after {
          content: "";
          position: absolute;
          top: 80%;
          left: 0;
          right: 0;
          border: none;
          border-radius: 0 0 20px 20px;
          bottom: 0;
          background: linear-gradient(to bottom,
              rgba(0, 0, 0, 0) 0%,
              rgba(0, 0, 0, 0.8) 100%);
        }

        .restaurant-name {
          font-weight: bold;
          font-size: 16px;
          margin: 0;
        }
      }

      @media (min-width: 576px) {
        .container {
          max-width: 540px;
        }
      }

      @media (min-width: 768px) {
        .container {
          max-width: 720px;
        }
      }

      @media (min-width: 992px) {
        .container {
          max-width: 960px;
        }
      }

      @media (min-width: 1200px) {
        .container {
          max-width: 1140px;
        }
      }

      @media (min-width: 1400px) {
        .container {
          max-width: 1320px;
        }
      }

    }

  }
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;

}