.products {
    margin-bottom: 48px;
    #breadcrumbNav {
        background-color: $MainColor;
        border-radius: 24px;
        >ol{
            padding: 8px;
            margin-left: 16px;

            >li {
                font-family: Poppins;
                >a {
                    text-decoration: none;
                    font-family: Poppins;
                    color: $Color-3;
    
                    &:hover {
                        color: $Color-2;
                    }
                }
                >samp{
                    font-family: Poppins;
                    color: $Color-2;

                }
                
                &:not(:first-of-type)::before {
                    color: $Color-3;
                }
            }
        }
    }

    &__grid {

        .card {
            background-color: $MainColor;

            // img{
            //     max-width: 250px;
            //     max-height: 250px;
            //     min-width: 250px;
            //     min-height: 250px;
            //     margin-left: 26px;
            //     margin-top: 26px;
            // }

            &-title {
                color: $Color-2;
                font-family: Poppins;
                font-size: 18px;
                font-weight: 500;
            }

            &-text {
                color: $Color-6;
                font-family: Poppins;
                font-size: 20px;
                font-weight: 500;
            }

            .btn {
                background-color: $Color-4;
                color: $Color-2;
                font-family: Poppins;
                font-size: 18px;
                border-color: $Color-6;
            }
            .stars {
                font-size: 20px;
                color: $Color-4;
                margin-bottom: .5em;
    
                .active {
                    color: $Color-5;
                }
            }
        }
    }
    #paginationNav {
        ul {
            justify-content: center;
        }
        .page-link {
            color: $Color-2;
            background-color: $MainColor;
            border-color: $MainColor;
        }
        .page-item.active .page-link {
            background-color: $Color-4;
            border-color: $Color-4;
        }
        .page-link:hover {
            background-color: $Color-4;
            border-color: $Color-4;
        }
    }
}