<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between">
                

                <div class="footer__general"> 

                    <div class="d-flex flex-column" style="gap: 15px;">
                        <h2>TERABYTE</h2>
                        <h3>We help you find your dream PC</h3>
                        <div class="footer__general__social d-flex">
                            <a href="https://www.facebook.com/">
                                <img src="/../img/facebook.png" alt="">
                            </a>
                            <a href="https://www.instagram.com/">
                                <img src="/../img/insta.png" alt="">
                            </a>
                            <a href="https://twitter.com/">
                                <img src="/../img/twit.png" alt="">
                            </a>
                        </div>
                    </div>

                    <div  class="footer__general__bottom" style="padding-top: 80px;">
                        <p>2023 all Right Reserved Term of use TERABYTE</p>
                    </div>


                </div>


                <div class="footer__additional d-flex">
                    <div class="footer__additional__links d-flex flex-column">
                        <h4>Information</h4>
                        <a href="#">About</a>
                        <a href="#">Product</a>
                        <a href="#">Blog</a>
                    </div>
                    <div class="footer__additional__links d-flex flex-column">
                        <h4>Company</h4>
                        <a href="#">Community</a>
                        <a href="#">Career</a>
                        <a href="#">Our story</a>
                    </div>
                    <div class="footer__additional__links d-flex flex-column">
                        <h4>Contact</h4>
                        <a href="#">Getting Started</a>
                        <a href="#">Pricing</a>
                        <a href="#">Resources</a>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</footer>