<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <div class="header__menu d-flex align-items-center">   
                    <p>TERABYTE</p>              
                    <nav>
                        <ul class="d-flex align-items-end">                            
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header__icons align-items-center">
                    <nav>
                        <ul class="d-flex align-items-center">
                            <li><a href="#">
                                    <img src="/../img/Cart.png" alt="cart">
                                </a>
                            </li>
                            <li><a href="#">
                                    <img src="/../img/Person.png" alt="user">
                                </a>
                            </li>
                            <li>
                                <img src="/../img/Line 1.png" alt="">
                            </li>
                            <li>
                                <a href="#">
                                    <img src="/../img/FilterRight.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>