<section class="review">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Reviews</h1>
                <div class="review__card">
                    <p class="review__card_reviewer">
                        Name
                    </p>
                    <div class="review__card_rating">
                        <span><i class="active icon-star"></i></span>
                        <span><i class="active icon-star"></i></span>
                        <span><i class="active icon-star"></i></span>
                        <span><i class="active icon-star"></i></span>
                        <span><i class="icon-star"></i></span>
                    </div>
                    <p class="review__card_description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                        natus rem esse. Autem, molestiae, vel minima excepturi voluptate eaque, libero perferendis qui
                        accusantium dicta neque totam dolore ipsam repellat quae?
                    </p>
                </div>
                
                <form class="review__form">
                    <div class="review__form_name">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="review__form_rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Amazing ! - 5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Really good - 4 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Ok - 3 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Bad - 2 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Uglye - 1 star"></label>
                    </div>
                    <div class="review__form_review">
                        <label for="review">Review</label>
                        <textarea class="form-control" id="review" rows="3"></textarea>
                    </div>
                    <input type="submit" class="review__form_submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</section>