<section class="review">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1>Reviews</h1>
                <div id="reviewList">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-secondary spinner-border-lg"  style="width: 15rem; height: 15rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </div>
                
                <form class="review__form">
                    <div class="review__form_name">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="review__form_rating">
                        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Amazing ! - 5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Really good - 4 stars"></label>
                        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Ok - 3 stars"></label>
                        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Bad - 2 stars"></label>
                        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Uglye - 1 star"></label>
                    </div>
                    <div class="review__form_review">
                        <label for="review">Review</label>
                        <textarea class="form-control" id="review" rows="2"></textarea>
                    </div>
                    <input type="submit" class="review__form_submit" value="Submit">
                </form>
            </div>
        </div>
    </div>
</section>
<script src="/../js/review.js"></script>