<section class="review">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Reviews</h1>
                <div class="review__card">
                    <p class="review__card_reviewer">
                        Name
                    </p>
                    <div class="review__card_rating">
                        <span><i class="active icon-star"></i></span>
                        <span><i class="active icon-star"></i></span>
                        <span><i class="active icon-star"></i></span>
                        <span><i class="active icon-star"></i></span>
                        <span><i class="icon-star"></i></span>
                    </div>
                    <p class="review__card_description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                        natus rem esse. Autem, molestiae, vel minima excepturi voluptate eaque, libero perferendis qui
                        accusantium dicta neque totam dolore ipsam repellat quae?
                    </p>
                </div>
                
                <form class="review__form">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    
                    <div class="form-group">
                        <label for="review">Review</label>
                        <textarea class="form-control" id="review" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>