.footer {
    width: 100%;
    height: 400px;
    background-color: $MainColor;
        
    &__general {
        #phone-number {
            color: $Color-2;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            text-decoration: none;
        }
        #footer-info{
            margin-bottom: 28px;
        }
        h2 {
            padding-top: 48px;
            margin-bottom: 0;
            color: $Color-2;
            font-family: Quella;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        h3 {
            width: 189px;
            color: $Color-4;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-top: 0;
        }

        &__social {
            gap: 24px;

            a {

                img {
                    width: 48px;
                    height: 48px;
                }
            }
        }

        &__bottom {
            p {
                color: $Color-4;
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }

    &__additional {
        gap: 48px;
        padding-top: 48px;

        &__links {
            gap: 24px;
        }

        h4 {
            color: $Color-2;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        a {
            text-decoration: none;
            color: $Color-4;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;


            &:hover {
                color: $Color-2;
            }
        }
    }
    @media (max-width: 768px )  {
        .footer__additional {
            gap: 18px;
            padding-left: 18px;
        }
      }
      @media (max-width: 576px  )  {
        .footer__additional {
           display: flex;
           flex-direction: column;
        }
        .footer-addd {
            display: flex;
            flex-direction: column;
         }
      }
      
}