.header {
    padding-top: 48px;
    padding-bottom: 48px;
    &__menu {
        p {
            color:$Color-2;
            font-family: Quella;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-right: 48px;
        }

        ul {
            list-style: none;
            gap: 48px;
            a {
                text-decoration: none;
                color:$Color-3;
                font-family: Poppins;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    }

    &__icons {
        ul {
            list-style: none;
            gap: 48px;
            a {
                text-decoration: none;
            }
            
        }
    }
}