.review {

    margin-top: 48px;

    h1 {
        text-align: center;
        font-family: Poppins;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        color: $Color-2;
    }

    &__card {

        background-color: $Color-1;
        border-radius: 24px;
        padding: 28px;
        margin-bottom: 48px;

        &_reviewer {
            font-family: Poppins;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            color: $Color-2;
        }

        &_rating {
            font-size: 20px;
            color: $Color-4;
            margin-bottom: .5em;

            .active {
                color: $Color-5;
            }
        }

        &_description {
            font-size: 16px;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            color: $Color-3;

        }

    }

    &__form {
        display: flex;
        flex-direction: column;

        &_name {
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            color: $Color-2;
        }

        &_rating {
            width: 218px;
            >input {
                display: none;
            }

            >label {
                color: #ddd;
                float: right;

                &:before {
                    margin: 5px;
                    font-size: 2.25em;
                    font-family: FontAwesome;
                    display: inline-block;
                    content: "\f005";
                }
            }
        }

        &_review {

            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            color: $Color-2;
            margin-bottom: 20px;
        }

        &_submit {
            // color: $Color-1;
            font-family: Poppins;
            font-size: 18px;
            font-style: normal;
            width: 150px;
            background-color: $Color-1;
            border-radius: 24px;
            margin-bottom: 30px;
        }
    }
}


/* STAR RATING */
.review__form_rating>input:checked~label,
/* show gold star when clicked */
.review__form_rating:not(:checked)>label:hover,
/* hover current star */
.review__form_rating:not(:checked)>label:hover~label {
    color: $Color-5;
}

/* hover previous stars in list */

.review__form_rating>input:checked+label:hover,
/* hover current star when changing rating */
.review__form_rating>input:checked~label:hover,
.review__form_rating>label:hover~input:checked~label,
/* lighten current selection */
.review__form_rating>input:checked~label:hover~label {
    color: $Color-7;
}